* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  html {
    font-size: 62.5%;
  }
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img {
    transition: transform .7s ease-in-out;
  }
  .logo img:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
  .logo p{
   color: #ffffff;
   font-size: 3rem;
   margin-left: 20px;
  }
  .fas{
    color: #ffffff;
    cursor: pointer;
  }
  header {
    /* position: fixed; */
    width: 100%;
    padding: 3rem 5rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  body{
    background-color: #000000;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 6rem;
  }
  nav a {
    font-size: 1.8rem;
    text-decoration: none;
  }
  nav a#logo {
    color: #000000;
    font-weight: 700;
  }
  nav ul a {
    color: #ffffff;
    font-weight: 600;
  }
  nav ul li{
    padding: 10px;
  }
  nav ul a:hover {
    border-bottom: 2px solid #ffffff;
  }
 nav ul li:nth-child(5){
    background-color: #3093d1;
    border-radius: 3px;
    width: 200px;
  }
  nav ul li:nth-child(5) a:hover{
   border-bottom: none;
  }
  ul li:nth-child(5) a{
    background-color: #3093d1;
    margin-left: 30px;

  }
  
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }

#main{
    margin-top: 50px;
    display: flex;
    color: aliceblue;
}
#content{
    margin-left: 40px; 
     
}
#content h1{
  margin-top: 120px;
  font-size: 50px;
  font-weight: 700;
  color: #0ab2fa;
  font-family: 'Poppins',sans-serif;
}
#content p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
}
.head{
    display: flex;
justify-content: space-between;
align-items: center;
    color: #ffffff;
    background-color: rgba(32, 32, 32, 0.897);
    width: 90%;
    margin-left: 5%;
    /* padding: 20px; */
    margin-bottom: 40px;
   border-radius: 10px;
   margin-top: 40px;
   height: 100px;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.head h1{
/*  
    padding: 20px; */
    font-size: 2.5rem;
    margin-left: 15px;
}
#btn{
  margin-top: 5px;
    text-decoration: none;
   color: #ffffff;
   font-size: 2.5rem;
   padding: 10px;
 background-color: #0ab2fa;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  
}
.heading h1{
  font-size: 3.5rem;
}
.coin_list{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}

.coin{
  display: flex;
  width: 400px;
  justify-content: start;
  align-items: center;
  background-color: #1C1C1C;
  padding: 20px;
  border-radius: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 40px;

  /* background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba(45, 45, 45, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.coin p{
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  flex-grow: 1;
}



























  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      padding: 2.2rem 5rem;
    }
  }
  @media only screen and (max-width: 767px) {
    body{
      overflow-x: hidden;
     
    }
    html {
      font-size: 50%;
    }
    #ham-menu {
      display: block;
      color: #ffffff;
    }
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 0px;
      width: 200px;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: space-aro; */
      transition: 1s;
      gap: 0;
      z-index: 111;
      /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    }
    nav ul li{
      margin-top: 30px;
    }
    nav ul li:nth-child(5){
      background-color: #3093d1;
      border-radius: 3px;
      width: 120px;
    }
    ul li:nth-child(5) a{
      background-color: #3093d1;
      margin-left: 0px;
  
    }
    #main{
      flex-direction: column-reverse;
  }
  #main img{
    height: 400px;
  }
 
  #content{
    margin-left: 20px;
  }
  #content h1{
   margin-top: 60px;
  }
  }
  @media only screen and (max-width: 575px) {
      body{
      overflow-x: hidden;
     
    }
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 65.18px;
      height: calc(100vh - 65.18px);
    }
    #main img{
      height: 250px;
    }
    #main h1{
      font-size: 5rem;
    }
    #main p{
      font-size: 2rem;
    }
    .heading h1{
      font-size: 2.7rem;
    }
    .head h1{
      font-size: 2rem;
    }
    #btn{
      width: 100px;
      font-size: 1.5rem;
    }
  }
